<h1>Edit Post</h1>

<form action="/admin/posts/edit/{{post.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Title</label>
        <input name="title" type="text" class="form-control" value="{{post.title}}">
    </div>

     <div class="form-group">
        <label for="file">File Upload</label>
        <input name="file" type="file" class="form-control">
    </div>


    <div class="form-group">
        <label for="category">Category</label>
        <select name="category" id="category" class="form-control">
        
        {{#select post.category}}
            {{#each categories}}
                <option value="{{id}}">{{name}}</option>
            {{/each}}
        {{/select}}
           
        </select>
    </div>

      <div class="form-group">
        <label for="title">Status</label>
        <select name="status" id="status" class="form-control">
            {{#select post.status}}
                <option value="public">Public</option>
                <option value="private">Private</option>
                <option value="draft">Draft</option>
            {{/select}}
        </select>
    </div>
   
    <div class="form-check">  
        <label for="allowComments" class="form-check-label">
            <input name="allowComments" type="checkbox" class="form-check-input" id="allowComments" 
            {{#if post.allowComments}} checked="checked" {{/if}}>
            Allow Comments
        </label>   
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <textarea name="body" cols="30" rows="10" type="text" class="form-control" id="body">{{post.body}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-sm">Update Post</button>
    <a href="/admin/posts" class="btn btn-secondary btn-sm">Cancel</a>
</form>