
<div class="row">
  <div class="col-sm-8">
        <h2>Comments</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Owner</th>
                    <th></th>
                    <th>Comment</th>
                    <th>Date</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each comments}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{user.firstname}}</td>
                    <td><input data-id="{{id}}" type="checkbox" name="approveComment" {{#if approveComment}} checked {{/if}}></td>
                    <td>{{body}}</td>
                    <td>{{formatDate date 'DD/MM/YYYY'}}</td>
                    <td><a href="/admin/comments/edit/{{id}}" class="btn btn-info btn-sm">Edit</a></td>
                    <td>
                        <form action="/admin/comments/{{id}}?_method=DELETE" method="post">
                            <button class="btn btn-danger btn-sm">Delete</button>    
                        </form>
                        
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>